<!doctype html>
<html lang="{{ shop.locale }}">
<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="device-size" content="set via css through font-family prop in order to be read by js">

    {% assign developmentMode = true %}

    {% if template.name == "index" %}
        {%- assign body_class = "home" -%}
    {% elsif template.suffix == "about" %}
        {%- assign body_class = "about" -%}
    {% elsif template.suffix == "faq" %}
        {%- assign body_class = "faq" -%}
    {% elsif template.suffix == "terms" %}
        {%- assign body_class = "terms" -%}
    {% elsif template.suffix == "privacy" %}
        {%- assign body_class = "privacy" -%}
    {% endif %}

    {% include 'fonts' %}
    {% include 'additional-styles' %}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    {% if developmentMode == true %}
        {{ content_for_header | replace: "<body onload='document._boomrl();'>", "<bodx onload='document._boomrl();'>" }}
    {% else %}
        {{ content_for_header }}
    {% endif %}
</head>
<body class="{{ body_class }}">
    <div id="siteWrapper">
        {% section 'header' %}

        <main id="main">
            {{ content_for_layout }}
        </main>

        {% section 'footer' %}
    </div>

    {{ 'theme.js' | asset_url | script_tag }}
</body>
</html>
