<!-- @TODO: fix footer issue and height of main content -->

<!doctype html>
<html lang="{{ shop.locale }}">

<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="device-size" content="set via css through font-family prop in order to be read by js">

    {% assign developmentMode = true %}

    {% if template.name == "index" %}
    {% assign page_type = "home" %}
    {% elsif template.suffix == "about" %}
    {% assign page_type = "about" %}
    {% elsif template.suffix == "faq" %}
    {% assign page_type = "faq" %}
    {% elsif template.suffix == "terms" %}
    {% assign page_type = "terms" %}
    {% elsif template.suffix == "privacy" %}
    {% assign page_type = "privacy" %}
    {% elsif template.suffix == "contact" %}
    {% assign page_type = "contact" %}
    {% elsif template.suffix == "how-it-works" %}
    {% assign page_type = "how-it-works" %}
    {% elsif template.suffix == "product" %}
    {% assign page_type = "product" %}
    {% elsif template.suffix == "custom-story" %}
    {% assign page_type = "custom-story" %}
    {% endif %}

    {% include 'fonts' %}
    {% include 'additional-styles' %}

    {% if template.suffix == "custom-story" %}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"> </script>

    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
    {{ 'jquery.cookie.js' | asset_url | script_tag }}
    {{ 'waitForImages.js' | asset_url | script_tag }}
    {{ '8biticon.js' | asset_url | script_tag }}
    {{ 'bootstrap-modal.js' | asset_url | script_tag }}
    {{ 'bootstrap-dropdown.js' | asset_url | script_tag }}
    {{ 'bootstrap-transition.js' | asset_url | script_tag }}
    {{ 'bootstrap-carousel.patched.js' | asset_url | script_tag }}
    {% endif %}

    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    {% if developmentMode == true %}
    {{ content_for_header | replace: "<body onload='document._boomrl();'>", "<bodx onload='document._boomrl();'>" }}
    {% else %}
    {{ content_for_header }}
    {% endif %}
</head>

<body id="{{ page_type }}" class="{{ page_type | replace: '.', ' ' | truncatewords: 1, '' }}">
    <div id="siteWrapper">
        <!-- Header -->
        <header class="header">
            <div class="header__bar cols cols--align-middle">
                <nav class="header__nav header__nav--primary nav--inline">
                    <a href="\" title="Home">
                        <div class="logo">
                            <span class="logo__icon">
                                <img src="{{ 'Snooks-Angel-Books-logo.svg' | asset_url }}"
                                    alt="Snooks Angel Books Logo">
                            </span>
                        </div>
                    </a>
                    <ul class="header__navList nav__list u-desktop-only">
                        {% for link in linklists.main-menu.links %}
                        <li class="header__navListItem">
                            <a class="link link--thick link--discrete" href="{{ link.url }}"
                                title="{{ link.title }}">{{ link.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
                <nav class="header__nav header__nav--secondary nav--inline">
                    <ul class="header__navList nav__list">
                        <li class="header__navListItem">
                            <a class="header__linkWithNotif link link--thick link--discrete" href="/cart"
                                title="Shopping Bag">
                                Bag (<span class="notif">{{ cart.item_count }}</span>)
                            </a>
                            <a class="burgerMenu u-mobile-only" href="#mobile-main-nav" title="Toggle Menu">
                                <span class="burgerMenu__bar burgerMenu__bar--top"></span>
                                <span class="burgerMenu__bar burgerMenu__bar--middle"></span>
                                <span class="burgerMenu__bar burgerMenu__bar--bottom"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="drawer drawer--right" id="mobile-main-nav">
                    <a href="#close-drawer" class="drawer__backdrop" title="Close Menu"></a>
                    <div class="drawer__frame">
                        <div class="drawer__header drawer__header--bar">
                            <div class="drawer__headerContent"></div>
                            <a href="#close-drawer" class="drawer__close close" title="Close Menu"></a>
                        </div>
                        <div class="drawer__scroller">
                            <div class="drawer__content">
                                <ul class="drawer__list">
                                    {% for link in linklists.main-menu.links %}
                                    <li class="drawer__item">
                                        <a class="drawer__link drawer__link--large" href="{{ link.url }}"
                                            title="{{ link.title }}">
                                            <span class="drawer__linkLabel">{{ link.title }}</span>
                                            <span
                                                class="fonticon fonticon--smallBox fonticon--carouselArrowRight"></span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="drawer__footer">
                                <div class="drawer__branding">
                                    <a href="/" title="Home">
                                        <div class="logo">
                                            <span class="logo__icon">
                                                <img src="{{ 'Snooks-Angel-Books-logo.svg' | asset_url }}"
                                                    alt="Snooks Angel Books Logo">
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <main id="main">
            {{ content_for_layout }}
        </main>

        {% if template.suffix != "custom-story" %}
        <!-- Footer -->
        <footer class="footer">
            <div class="footer__bar footer__bar--top">
                <nav class="footer__nav footer__nav--primary">
                    <ul class="footer__navList">
                        {%- for link in linklists.footer.links -%}
                        <li>
                            <a class="link link--thick link--discrete" href="{{- link.url -}}"
                                title="{{- link.title -}}">{{- link.title -}}</a>
                        </li>
                        {%- endfor -%}
                        <li>
                            <a target="_blank" rel="nofollow" href="https://www.instagram.com/snooksangelbooks/"
                                title="Instagram"><span
                                    class="fonticon fonticon--instagram fonticon--smallBox"></span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
        {% endif %}
    </div>

    <!-- Scripts-->
    {{ 'theme.js' | asset_url | script_tag }}

    {% if template.suffix == "custom-story" %}
    {{ 'avatarConstructor.js' | asset_url | script_tag }}
    {{ 'storybook__nav.js' | asset_url | script_tag }}
    {{ 'storybook_steps.js' | asset_url | script_tag }}
    {{ 'creator.js' | asset_url | script_tag }}
    {% endif %}
</body>

</html>