<div class="cart-container">
  <div class="cart-container-inner">
    <div class="cart-main">
      <div class="logo">
        <img src="{{- 'Snooks-Angel-Books-logo.svg' | asset_url -}}" alt="Snooks Angel Books Logo">
      </div>
      {% if cart.item_count > 0 %}
      <div class="shopping-bag-non-empty">
        <div class="cart-heading">
          <h1>My Shopping Bag</h1>
          <div class="shopping-bag-container">
            <form action="/cart" method="post" novalidate>
              <table>
                <thead>
                  <th colspan="2">Prod</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>total</th>
                </thead>
                <tbody>
                  {% for item in cart.items %}
                  <tr>
                    <td>
                      <a href="{{ item.url | within: collections.all }}">
                        <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                      </a>
                    </td>
                    <td>
                      <a href="{{ item.url }}">{{ item.product.title }}</a>
                      {{ item.variant.title }}
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
                    </td>
                    <td>{{ item.price | money }}</td>
                    <td>
                      <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}"
                        min="0">
                    </td>
                    <td>
                      {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                      {{ item.line_price | money }}
                      {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div>
                <div class="shopping-bag-subtotal-container">
                  <p>Subtotal:</p>
                  <p>{{ cart.total_price | money }}</p>
                </div>
                <div class="shopping-bag-checkout-btn-container">
                  <button type="submit" name="checkout" id="checkout-btn">Checkout</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        {% else %}
        <div class="shopping-bag-empty">
          <h2>Cart is Empty</h2>
        </div>
        {% endif %}
      </div>
    </div>

  </div>